



.logo{
    /* width: 48px; */
    height: 26px;
}


article {
	display: flex;
	margin-top: 24px;
}

article:hover {
    background-color: yellow;
}

article:active {
    background-color: yellow;
}

.videos {
    height: 400px;
    overflow-y: scroll;
    position: relative;
    margin-bottom: 32px;
}

.thumb {
	height: 112px;
    margin-right: 8px;
    border-radius: 8px;
}

.details {
    margin-right: 16px;
}

#main-details {
    padding-top: 8px;
}
