


body{
    position: relative;
}

.logo{
    /* width: 48px; */
    height: 26px;
}


article {
	display: flex;
	padding-top: 24px;
}


.videos {
    max-height: 400px;
    overflow-y: scroll;
    position: absolute;
    margin-bottom: 100px

}

.thumb {
	height: 112px;
    margin-right: 8px;
    border-radius: 8px;
}

#video {

}

#main-details {
    padding-top: 8px;
}
